<form method="post" action="/travel/countries/cities/<%= @city.id %>">
  <label for="name-field">name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @city.name %>"
  />

  <label for="visit-status-field">visit_status:</label>
  <input
  type="checkbox"
  name="visit_status"
  id="visit_status-field"
  />


  <label for="number_of_visits-field">number_of_visits:</label>
  <input
  type="number"
  name="number_of_visits"
  id="number_of_visits-field"
  value="<%= @city.number_of_visits %>"
  />


  <label for="country_id"> country:</label>
  <select id="country_id" name="country_id"/>
  <% @countries.each do |country| %>
  <option value=<%= country.id%>><%= country.name%></option>
  <% end %>
</select>

  <input type='submit' value="Edit city">
</form>
